@charset "UTF-8";

/* Universal Styling */

body, html {
    font-family: 'Maison Neue', sans-serif;
    font-size: 18px;
    background-color: #000000;
    margin: 0;
    line-height: 1.5;
}

/* Font Styling */

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 400;
}

p, ul {
    font-weight: 300;
}

/* Header */

.header {
  background-color: black;
  color: #ffffff;
  font-family: 'Maison Neue Mono';
  padding: 1rem;
}

.header a {
    text-decoration: none;
    color: #ffffff;
}

/* Footer */
.footer {
  background-color: #000000;
  padding: 1rem;
  color: #ffffff;
  font-family: 'Maison Neue Mono';
  font-size: 0.7rem;
}

.privacy {
  text-align: right;
}

.privacy a {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 568px) {
  .privacy {
    text-align: left;
    padding-top: 0.5rem;
  }
}

/* Content */

.content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #f2f5fd;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 700;
}

.information {
  font-size: 0.9rem;
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Statistics */

.statistics {
  border: 1px solid;
  border-color: #000000;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.statistic {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.detail {
  font-weight: 300;
  font-size: 1rem;
}

/* Download Button */

.download {
  width: 130px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
